@using BSSiseveeb.Public.Web.Models
@model ChangeAccountSettingsViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>Kasutaja sätted</h2>

@using (Html.BeginForm("UpdateAccount", "Account"))
{
    @Html.AntiForgeryToken()
    <p class="text-success">@Model.Message</p>
    <div>
        <h4>Muuda kasutaja sätteid</h4>
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.BirthDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div id="Birthday" class="col-md-10" name="Birthday"></div>
            @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new {htmlAttributes = new {@class = "form-control", @value = @Model.Phone}})
                @Html.ValidationMessageFor(model => model.Phone, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Skype, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Skype, new { htmlAttributes = new { @class = "form-control", @value = @Model.Skype } })
                @Html.ValidationMessageFor(model => model.Skype, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.CheckBoxFor(model => model.DailyBirthdayMessages, new { htmlAttributes = new { @class = "checkbox", @value = @Model.DailyBirthdayMessages } })
                @Html.LabelFor(model => model.DailyBirthdayMessages, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.DailyBirthdayMessages, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.CheckBoxFor(model => model.MonthlyBirthdayMessages, new { htmlAttributes = new { @class = "checkbox", @value = @Model.MonthlyBirthdayMessages } })
                @Html.LabelFor(model => model.MonthlyBirthdayMessages, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.MonthlyBirthdayMessages, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.CheckBoxFor(model => model.RequestMessages, new { htmlAttributes = new { @class = "checkbox", @value = @Model.RequestMessages } })
                @Html.LabelFor(model => model.RequestMessages, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.RequestMessages, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.CheckBoxFor(model => model.VacationMessages, new { htmlAttributes = new { @class = "checkbox", @value = @Model.VacationMessages } })
                @Html.LabelFor(model => model.VacationMessages, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.VacationMessages, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="submit" class="btn btn-submit" value="Salvesta">
    </div>
}


@section scripts {
    @Scripts.Render(ScriptBundles.Account)
}