@using BSSiseveeb.Public.Web.Models
@using Castle.Core.Internal
@model IndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Brightspark Siseveeb</h1>
</div>

<div>
    @if (Request.IsAuthenticated)
    {
        <ul class="frontPageColumn">
            <li><h4>Tänased sünnipäevalised:</h4></li>
            @foreach (var employee in Model.Employees)
            {
                <li>@employee.Name</li>
            }
            @if (@Model.Employees.IsNullOrEmpty())
            {
                <li>Täna pole kellegi sünnipäev</li>
            }
        </ul>
        <ul class="frontPageColumn">
            <li><h4>Puhkused sellel Kuul:</h4></li>
            @foreach (var vacation in Model.Vacations)
            {
                <li>@vacation.EmployeeName @vacation.StartDateFormatted - @vacation.EndDateFormatted</li>
            }
            @if (@Model.Vacations.IsNullOrEmpty())
            {
                <li>Sellel kuul pole rohkem puhkuseid.</li>
            }
        </ul>
    }
</div>

@Scripts.Render(ScriptBundles.Workers)