@model BSSiseveeb.Core.Dto.EmployeeDto

<tr>
    <td>@Model.Name</td>
    <td>@Model.Birthdate.ToString("dd MMM yyyy")</td>
    <td>@Model.PhoneNumber</td>
    <td>@Model.Email</td>
    <td>@Model.ContractStart.ToString("dd MMM yyyy")</td>
    @if (Model.ContractEnd.HasValue)
    {
        <td>@Model.ContractEnd.Value.ToString("dd MMM yyyy")</td>
    }
    else
    {
        <td>Tähtajatu</td>
    }
    <td>@((DateTime.Now - Model.ContractStart).Days) päeva</td>
    <td>@Html.ActionLink("Edit", "ViewEmployee", "Admin", new { id = Model.Id }, new { @class = "btn btn-primary" })</td>
</tr>
