@using BSSiseveeb.Public.Web.Models
@model RegistrationModel

@{
    ViewBag.Title = "AddEmployee";
}
@using (Html.BeginForm("SetEmployee", "Admin"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h3>Add Employee</h3>
        <h5 id="employeeStatus"></h5>
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" >
            @Html.LabelFor(model => model.BirthDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div id="Birthday" class="col-md-10" name="Birthday"></div>
            @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-append date form-group col-md-10" id="dp1" data-date="" data-date-format="yyyy-mm-dd">
                @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control", @onClick = "showDatePicker('#dp1')" } })
                <span class="add-on"><i class="icon-th"></i></span>
                @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.End, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="input-append date form-group col-md-10" id="dp2" data-date="" data-date-format="yyyy-mm-dd">
                @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control", @onClick = "showDatePicker('#dp2')" } })
                <span class="add-on"><i class="icon-th"></i></span>
                @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VacationDays, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VacationDays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VacationDays, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="submit" class="btn btn-submit" value="Lisa">
    </div>
}

@section scripts {
    @Scripts.Render("~/Scripts/general.js")
    @Scripts.Render("~/Scripts/jquery-birthday-picker.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/addemployee.js")
    @Scripts.Render("~/bundles/jqueryval")
}
